ul li {
    list-style: none;
  }
  .user{
    -ms-flex-align: end;
    float:right;
  }
  .nav {
    color: black;
  }
  #header {
    background-color:black;
    color: gold;
  }
   p.title {
    //  text-align: center;
     margin-left: 500px;
   }
   