
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
    <div class="card-list">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card blue">
                    <div class="title">List Of movies</div>
                    <i class="zmdi zmdi-upload"></i>
                    <div class="value">89</div>
                   <br>
                   <hr>
                   <a mat-list-item routerLinkActive="list-item-active" routerLink="././modules/list-movies" (click)="gotoListMovies()">List Of movies</a>
                </div>
                
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card green">
                    <div class="title">List Of movies</div>
                    <i class="zmdi zmdi-upload"></i>
                    <div class="value">90</div>
                  <br>
                  <hr>
                    <a href="#" class="text-light">List of Users</a>
                </div>
                
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card red">
                    <div class="title">List Of movies</div>
                    <i class="zmdi zmdi-upload"></i>
                    <div class="value">89</div>
                    <br>
                    <hr>
                    <a href="#" class="text-light">Watch History</a>
                </div>
                
            </div>
          
        </div>
    </div>