<div>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">
  <li class="nav-item">
  <button routerLink="show-delete" class="m-1 btn btn-light btn-outline-primary">list Of movies</button>
  <button routerLink="add-edit" class="m-1 btn btn-light btn-outline-primary">AddMovie</button>
  <button routerLink="app-user-management" class="m-1 btn btn-light btn-outline-primary">User Management</button>
  </li>
      </ul>
  
    </nav>
  </div>
  <!-- <ul *ngFor="let list of lists">
    <li>{{list.Movie_Title}}</li>
    <li>{{list.Movie_Actor}}</li>      
</ul> -->

