<div class="row">
  <div class="card col-sm-4" style="width: 18rem;" *ngFor="let dataItem of MoviesList">
  <img [src]="dataItem.Movie_Url" class="card-img-top" alt="...">
  <div class="card-body">

    <h5 class="card-title">{{dataItem.Movie_Title}}</h5>
    <p class="card-text">{{dataItem.Movie_Summary}}</p>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary" data-toggle="modal"  (click)="updateMovie(dataItem.Movie_ID)" data-target="#myModal">
      Update
    </button>&nbsp;&nbsp;&nbsp;

    <button type="button" class="btn btn-danger" (click)="deleteMovie(dataItem.Movie_ID)">
      Delete
    </button>
  </div>
</div>
</div>
<!-- <div class="row">
  <div class="col-sm-4" *ngFor="let dataItem of MoviesList">
    <div class="card text-center">
      <h2>{{dataItem.Movie_Title}}</h2>
      <div class="card-body">
        <img class="img-fluid" [src]="dataItem.Movie_Url" class="card-img-top" alt="...">
        <h3>{{dataItem.Movie_Summary}}</h3>
      </div>
      <button type="button" class="btn2" data-toggle="modal" data-target="#myModal">
          Update
        </button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn2" (click)="deleteMovie(dataItem.Movie_ID)">
          Delete
        </button>
    </div>
  </div> 
</div> -->

  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{Modaltitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-movies [mov]="mov" *ngIf="ActivateAddEditMovieComp"></app-add-edit-movies>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div> 
</div>-->









